.__rounded-left-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.__accept { background-color: $green; }

.__reject { background-color: $red; }

.__mySearchButton{ background-color: #1B3B6F; }
    
.__myViolationCard{ background-color: #1B3B6F; }