.status {
    border-radius: 50%;
    display: flex;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reg {
    background-color: $green;
}

.nreg {
    background-color: $red;
}

.pen {
    background-color: $orange;
}

.smaller {
    font-size: 0.8rem;
}

.__dates {
    display: flex;
    & > * {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        background-color: $highlight;
        padding: 1rem 0.5rem;
    }
}

.row .__thirds {
    flex: 0 0 50%;
    max-width: 49%;
}

.price {
    background-color: $highlight;
    border-radius: 50%;
    width: 3.5rem; height: 3.5rem;
}