// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/* MY COLORS */
$black: rgba(7, 28, 35, 1);
$white: rgba(249, 247, 243, 1);
$main: rgba(75, 179, 253, 1);
$secondary: rgba(27, 59, 111, 1);
$highlight: rgba(239, 170, 196, 1);
$highlight-dark: rgb(223, 135, 168);